{% extends 'base.html.twig' %}

{% block title %}Edit Manga{% endblock %}

{% block body %}
    <div class="container mt-4">

        <div class="card shadow-sm">
            <div class="card-body">
                {{ include('manga/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-secondary" href="{{ path('app_manga_index') }}">Retour a la liste</a>
            {{ include('manga/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
